@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="text-center">
            <div><img src="~/img/lions_q.svg" width="256" /></div>
            <h2 style="color:#ed7203"><b><i class="bi bi-qr-code-scan"></i> @AppInit.ProductName</b> - Electronic Signatures</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-database"></i> Blockchain Technology</h4>
                <p>
                    The digital fingerprint of your signature, together with a timestamp, is stored in a blockchain as unchangeable proof of data consistency.
                    This means you can trust the signature regardless of the service provider.
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">read more...</a>
                </p>
            </div>
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-shield"></i> Data Privacy</h4>
                <p>
                    You do not upload any documents, only the fingerprint of the file is stored.
                    This means that you do not have to entrust your confidential documents to a third party, but can send the files directly to your recipients in the usual way.
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">read more...</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-qr-code"></i> QR Code and URL based</h4>
                <p>
                    Insert QR codes and links into your document as placeholders for signatures.
                    These can then be used to create and verify signatures.
                    This allows you to work with your usual tools.
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">read more...</a>
                </p>
            </div>
            <div class="col-lg-6 mb-5">
                <h4><i class="bi bi-person-badge"></i> Self Sovereign Identities</h4>
                <p>
                    This application supports identification and authentication using self-sovereign identities.
                    All compatible DID wallets can be used for this purpose.
                </p>
                <p>
                    <a href="#" class="btn btn-sm btn-outline-primary">read more...</a>
                </p>
            </div>
        </div>

        @if (Context.IsLoggedIn())
        {
            <div class="text-center">
                <a class="btn btn-lg btn-primary w-100" href="@Url.Action("Index","Document")">My Documents...</a>
            </div>
        }
        else
        {
            <div class="text-center">
                <a class="btn btn-lg btn-primary w-100" href="@Url.Action("Register","Account")">Get started!</a>
            </div>
        }
    </div>
</div>

